# Custome
stdout_pipe
windows-build.txt
compile_flags.txt
copy_syntax_file.bat
debug.log
CppProperties.json
LLVM_LIBS.txt
apoc-lsp-debugging.txt
c_args.txt
debug_buffer.txt
error_file.txt
command_line_other_test.txt
GPUCache
c_out
x64
*.wasm
*.llir
*.lnk
*.vscode

# Project Files
*.vcxproj
*.filters
*.user
*.sln

# Prerequisites
*.d
*.cmake

# Assembly Outputed files
*.s
*.asm

# LLVM IR
*.ll

# Visual Studio Projects
.vs
bin\.vs

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
